method: "all"

sft:
  enabled: True
  batch_size_train: 8
  batch_size_eval: 8
  num_epochs: 1
  gradient_checkpointing: True
  push_to_hub: False
  max_seq_length: 2048
  weight_decay: 0.01
  max_steps: 50
  eval_steps: 50
  save_steps: 50
  lr: 1e-4
  do_eval: True

dpo:
  enabled: True
  batch_size_train: 8
  batch_size_eval: 8
  num_epochs: 1
  gradient_checkpointing: True
  push_to_hub: False
  max_seq_length: 2048
  weight_decay: 0.01
  max_steps: 50
  eval_steps: 50
  save_steps: 50
  lr: 1e-4
  beta: 0.1
  do_eval: True
