method: "dpo"

defaults:
  - model: gemma_2_2b
  - experiment/topk_single_layer_r8192_k1024_64_mlp_overcomplete@sft_experiment
  # - experiment/topk_single_layer_r8192_k1024_64_mlp_attn_overcomplete@dpo_experiment
  # - experiment/topk_single_layer_r8192_k1024_64_mlp_attn_overcomplete@dpo_experiment
  # - experiment/topk_single_layer_r8192_k1024_64_mlp_overcomplete@dpo_experiment
  # - experiment/topk_single_layer_r4096_k512_32_mlp_attn_overcomplete@dpo_experiment
  - experiment/topk_single_layer_r4096_k512_32_mlp_overcomplete@dpo_experiment
  - dataset/alpaca-train@sft_dataset
  - dataset/hh-rlhf@dpo_dataset
  - base_sft_merged_model: gemma_2_2b
  - quantization: 4bit


dump_trained_model: True
dump_path: "models/dpo/${training.model.model_name}"

sft:
  enabled: False

dpo:
  enabled: True
  max_prompt_length: 256
  max_completion_length: 256
  beta: 0.1
  loss_type: 'sigmoid'
  num_train_epochs: 1
  per_device_train_batch_size: 4
  per_device_eval_batch_size: 2
  gradient_accumulation_steps: 8
  gradient_checkpointing: True
  max_steps: 5000
  optim: 'adamw_bnb_8bit'
<<<<<<< HEAD
  learning_rate: 1e-5
  warmup_ratio: 0.05
=======
  learning_rate: 5e-5
  warmup_ratio: 0.03
>>>>>>> 4f4640f (monosemanticity eval)
  bf16: True
  fp16: False
  max_grad_norm: 0.5
  save_strategy: 'steps'
  save_steps: 500
  save_total_limit: 2
  eval_strategy: 'steps'
  eval_steps: 250
  do_eval: True
