method: "sft"

defaults:
  - model: gemma_2_2b
  - experiment/lora_gemma_interp_small_lg@dpo_experiment
  - dataset/alpaca-train@sft_dataset
  - dataset/hh-rlhf@dpo_dataset
  # - adapter: gemma_2_2b
  - quantization: 4bit

sft:
  enabled: True
  packing: False
  completion_only_loss: True
  max_seq_length: 2048
  num_epochs: 1
  batch_size_train: 4
  gradient_accumulation_steps: 32
  gradient_checkpointing: True
  optim: "adamw_torch"
  lr: 1e-4
  warmup_ratio: 0.05
  bf16: False
  fp16: True
  max_grad_norm: 0.3
  save_strategy: "steps"
  save_total_limit: 3
  eval_steps: 500
  eval_strategy: "steps"
  batch_size_eval: 4
  weight_decay: 0.01
  push_to_hub: False
  do_eval: True

dpo:
  enabled: False
